.custom-button {
  background-color: #2b2b2b;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.custom-button:hover {
  background-color: #1b1b1b;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.8);
}

span {
  color: red;
  text-decoration: none !important;
}